body { 
    padding-top: 70px;
}
* {
    scroll-behavior: smooth;
}
.navbar-fixed-top {
	z-index: 1 !important;
}
.navbar {
	background-color: #828282;
}

.navbar-nav {
	background-color: white;
	text-align: center;
}
.navbar-brand,.navbar-toggle, li > a {
	color: black !important;
}
hr {
	margin: unset;
	border: 2px solid #020202;
}
.main-container {
	min-height: 100vh;
}
.page_title {
	text-align: center;
}

.row > .col-md-4{
    /* background-color: grey; */
	text-align: center;
    box-sizing: border-box;
    padding: 3px;
    color: black;
    margin-bottom: 10px;
}
p.col-md-12 {
    max-height: 200px;
    overflow: hidden;
}
.back-to {
    font-weight: bold;
}